@font-face {
  font-family: 'NotoSansCJKkr-Bold';
  src: url('../font/NotoSansCJKkr-Bold.otf');
}
@font-face {
  font-family: 'NotoSansCJKkr-Medium';
  src: url('../font/NotoSansCJKkr-Medium.otf');
}
@font-face {
  font-family: 'NotoSansCJKkr-Regular';
  src: url('../font/NotoSansCJKkr-Regular.otf');
}

body {
  margin: 0px;
}
.nav-container {
  position: absolute;
  width: 100%;
  font-family: 'NotoSansCJKkr-Bold';
  font-size: 15px;
}
nav {
  background: none;
  z-index: 10;
  min-height: 65px;
}
.nav-bar {
  padding: 24px 35px 24px 35px;
}
.menu > li {
  float: left;
}
.menu > li > a {
  display: inline;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 10px;
  border-radius: 39px;
  padding: 11px 26px 10px 27px;
}
.left{
  float: left;
}
.right{
  float: right;
}
ul, ol {
  list-style: none;
}
a, a:visited{
  text-decoration: none;
  color: #ffffff;
}
.btn_primary {
  background-color: #50bb14;
}
.visible-toggle{
  display: none !important;
}
@media (max-width: 680px) {
  .whatap.menu> a {
    background-color: inherit;
    padding: 0;
  }
  .whatap> a> span {
    color: #232323;
  }
  .menu .btn_primary {
    background: none;
    border: solid 0px;
  }
  .menu > li > a{
    padding-left: 0px;
  }
  .visible-toggle {
    display: block;
  }
}
